Repository makometr/gAD-System, pull requests merged in 2022-03, with the labels that each got.

#15 Logger Zap added, some error handling and some comments
  cmd/gad-manager/main.go
  go.mod
  go.sum
  services/gad-manager/server/router.go
  services/gad-manager/server/server.go
Labels: dev, gad-master

#18 Fix ports
  services/calc-controller/config/config.go
  services/gad-manager/config/config.go
  services/gad-manager/domain/repository.go
Labels: bug, dev, gad-master, calculator

#22 #8 Configure rabbitmq in dockerfile
  Makefile
  docker/rmq/conf/definitions.json
  docker/rmq/conf/rabbitmq.conf
  docker/rmq/rabbitmq.Dockerfile
Labels: devops

#24 #23 Tests handler gad master
  Makefile
  go.mod
  go.sum
  services/gad-manager/domain/calculator.go
  services/gad-manager/domain/repository.go
  services/gad-manager/server/router.go
  services/gad-manager/server/router_test.go
Labels: dev, gad-master

#28 Dockerfile for calc-controller and fixes
  .gitignore
  Makefile
  cmd/calc-controller/main.go
  docker/calc-controller.Dockerfile
  docker/gad-manager.Dockerfile
  docker/rmq/rabbitmq.Dockerfile
  services/calc-controller/config/config.go
Labels: devops, gad-master, calculator

#29 #27 Add consumer & parallel logic
  cmd/calc-controller/main.go
  services/calc-controller/config/config.go
  services/calc-controller/rmq/consumer.go
  services/calc-controller/rmq/message.go
  services/calc-controller/rmq/publisher.go
  services/calc-controller/server/server.go
Labels: dev, calculator

#31 #9 Configure docker compose for local deployment
  cmd/calc-controller/main.go
  deploy/docker-compose.yaml
  services/calc-controller/config/config.go
  services/gad-manager/config/config.go
  services/gad-manager/server/server.go
Labels: devops
